<% provide(:title, @post.meta_title) %>
<% provide(:description, @post.meta_description) %>
<% provide(:keywords, @post.meta_keywords) %>
<%= render '/layouts/header/mini_header' %>


  <section class="container">
    <section class="grid-holder">
      <section class="grid">
        <figure class="column c-three-fourth">
          <article class="blog-main">
        <div class="blog-img"><%= image_tag @post.avatar.url(:big) %>
        </div>
           <div class="title-bar">
            <h3><%= @post.title %></h3>
            
           </div>
           <%= @post.text.html_safe %>
 
          </article>
          
        </figure>
        
   <%= render('post_categories/blocks/sidebar') %>

      </section>
    </section>
  </section>  