<%= render '/layouts/header/mini_header' %>
<% provide(:title, @product.meta_title) %>
<% provide(:description, @product.meta_description) %>
<% provide(:keywords, @product.meta_keywords) %>
<section class="container">

    <section class="grid-holder">
      <section class="grid">
        <figure class="column c-one-half">
          <div class="product-img">
            <%= image_tag @product.avatar.url(:medium), id: "image" %>
           </div>
        </figure>
        <figure class="column c-one-half">
          <div class="product-detail">
            <h3><%= @product.name %></h3>
            <span class="pro-price"><%= number_to_currency(@product.price, unit: "р.",delimiter: " ' ",  format: "%n %u", precision: 0) %></span>
            <ul class="product-list">
              <li>Категория: <span><%= @product.product_category.name %></span></li>
              <li>Артикул: <span><%= @product.sku %></span></li>
            </ul>
            <div id="content1" class="tabscontent">
                  <%= @product.description.html_safe %>
                </div>
          </div>
        </figure>

      </section>
    </section>

  </section>
 